:root {
  --color: #006699;
  --color-white: #fff;
  --color-black: #000;
  --color-text: #17272F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F5F6F8
}

.container {
  width: 114rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 1.6rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

  .container {
    height: 5.6rem;
    display: flex;
    align-items: center;

    .search {
      position: relative;
      margin-left: 1.8rem;

      i {
        position: absolute;
        top: 0;
        left: 0;
        height: 3.2rem;
        width: 4.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #AAAAAA;
        font-size: 1.5rem;
      }

      input {
        height: 32px;
        width: 100%;
        background-color: rgba(#DEDEDE, .32);
        border-radius: 4px;
        font-size: 1.4rem;
        padding: 0 1.5rem 0 4rem;
        border: none;

        &:focus {
          outline-color: var(--color);
        }

        &::placeholder {
          color: #AAAAAA;
        }
      }
    }

    .nav {
      margin: 0 auto;

      &__list {
        display: flex;
        list-style: none;
      }

      &__item {
        &.active {
          a {
            color: var(--color);
            font-weight: 700;

            i {
              margin-right: .5rem;
            }

            span {
              display: block;
            }
          }
        }
      }

      &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.3rem;

        text-decoration: none;
        color: #AAAAAA;

        i {
          font-size: 2rem;
        }

        span {
          display: none;
          font-size: 1.2rem;
        }

        &:hover {
          color: var(--color);
        }
      }
    }

    .user-menu {
      >a {
        display: flex;
        align-items: center;

        .detail {
          display: flex;
          flex-direction: column;
          text-align: right;
          margin-right: .6rem;

          .name {
            font-size: 1.2rem;
            color: #17272F;
          }

          .status {
            font-size: 1rem;

            &.online {
              color: #31B057;
            }

            &.offline {
              color: #B03131;
            }
          }
        }

        img {
          min-width: 3.6rem;
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          object-fit: cover;
        }

        i {
          color: #A7B4CC;
          font-size: 1.2rem;
          margin-left: .5rem;

          &:hover {
            color: var(--color);
          }
        }
      }

      &__link {
        text-decoration: none;
      }
    }
  }
}

main {
  .container {
    display: flex;

    .sidebar {
      min-width: 27rem;
      width: 27rem;

      .widget {
        margin-bottom: 1.6rem;
        background-color: var(--color-white);
        border-radius: 6px;
        padding: 1.5rem;

        .widget-btn {
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color);
        }

        ul {
          list-style: none;
        }

        a {
          text-decoration: none;
        }

        h6 {
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--color-text);
          padding-bottom: .8rem;
          border-bottom: 1px solid #EDF0F5;
          margin-bottom: .8rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .description {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #AAA;
            text-transform: none;
            margin-top: .4rem;
          }

          .more-btn {
            color: #AAA;
            font-size: 1.6rem;
            align-self: flex-start;
            transition: all 100ms;

            &:hover {
              color: var(--color);
            }
          }

          .dropdown {
            font-size: 1.4rem;
            color: #31B057;
            display: flex;
            align-items: center;
            font-weight: normal;
            cursor: pointer;

            &__title {
              text-transform: capitalize;
            }

            i {
              font-size: 1rem;
              color: #AAA;
              margin-left: .5rem;
            }
          }
        }
      }

      .widget-stats {
        padding: .8rem;

        .stats-user {
          text-align: center;
          padding-bottom: 1.6rem;
          margin-bottom: 1.6rem;
          border-bottom: 1px solid #EDF0F5;

          .cover {
            height: 4.3rem;
            background: url(/app/img/cover-bg.png) no-repeat center center;
            background-size: cover;
            border-radius: 4px;
          }

          .avatar {
            text-align: center;
            margin-top: -2.6rem;
            margin-bottom: 1rem;

            img {
              width: 5.2rem;
              height: 5.2rem;
              border-radius: 50%;
              display: block;
              margin: 0 auto;
              border: 2px solid var(--color-white);
            }
          }

          .name {
            font-size: 1.6rem;
            font-weight: 500;
            color: #17272F;
            text-align: center;
          }

          .job-title {
            font-size: 1.4rem;
            color: #aaa;
            margin-top: .4rem;
          }
        }

        ul {
          list-style: none;
          padding: 0 .7rem 1.1rem;

          li {
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;

            &:not(:last-child) {
              margin-bottom: 1.6rem;
            }

            .key {
              color: var(--color-text);
              font-weight: 500;
            }

            .value {
              color: var(--color);
              font-weight: 500;
            }
          }
        }
      }

      .widget-newest {
        position: sticky;
        top: 7rem;

        ul {
          font-weight: 500;
          list-style: none;
          padding-bottom: 3rem;

          &:last-child {
            padding-bottom: 0;
          }

          li {
            a {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              text-decoration: none;
              color: var(--color);
              padding: .4rem 0;

              &:hover {
                color: #222;
              }

              i {
                font-size: 1rem;
                width: 1.5rem;
              }
            }
          }
        }
      }

      .widget-btn {
        height: 5rem;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
        color: var(--color-text);

        i {
          color: var(--color);

          &:hover {
            color: #222;
          }
        }

        &.more {
          height: 5.6rem;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--color);
          transition: all 200ms;

          &:hover {
            background-color: var(--color);
            color: var(--color-white);
          }
        }
      }

      .widget-recommendation {
        ul {
          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.6rem;

            a:first-child {
              display: flex;
              align-items: center;

              .image {
                min-width: 3rem;
                margin-right: .8rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  max-width: 100%;
                }
              }

              .detail {
                display: flex;
                flex-direction: column;

                .name {
                  font-size: 1.4rem;
                  font-weight: 500;
                  color: var(--color-text);
                }

                .alt-name {
                  padding-top: .3rem;
                  font-size: 1.2rem;
                  color: #AAA;
                }
              }
            }

            a:last-child {
              min-width: 2.4rem;
              width: 2.4rem;
              height: 2.4rem;
              border: 1px solid var(--color);
              color: var(--color);
              border-radius: 4px;
              font-size: 1.3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 200ms;

              &:hover {
                background-color: var(--color);
                color: var(--color-white);
              }
            }
          }
        }
      }

      .widget-marketing {
        padding: 2rem 1.6rem 1rem;

        .get-updates {
          .avatars {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.4rem 3rem 0;

            a {
              img {
                border-radius: 50%;
                width: 7.2rem;
                height: 7.2rem;
              }
            }
          }

          p {
            margin-top: 1.8rem;
            margin-bottom: 1rem;
            font-size: 1.4rem;
            color: var(--color-text);
            line-height: 2rem;

            span {
              font-weight: 500;
            }
          }
        }
      }

      .footer {
        padding-top: 3.8rem;
        position: sticky;
        top: 6rem;

        nav {
          display: flex;
          flex-wrap: wrap;
          border-bottom: 1px solid #DEDEDE;
          margin-bottom: 1.2rem;

          a {
            text-decoration: none;
            font-size: 1rem;
            color: #AAA;
            margin-right: 1.5rem;
            margin-bottom: 1.6rem;
          }
        }

        .copyright {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1rem;
          color: #AAA;

          img {
            height: 1.8rem;
          }
        }
      }
    }

    .content {
      flex: 1;
      margin: 0 3rem;

      .create-post {
        background-color: var(--color-white);
        padding: 1.6rem 1.6rem 1rem;
        border-radius: 6px;
        margin-bottom: 2rem;

        textarea {
          width: 100%;
          height: 6rem;
          resize: none;
          font-size: 1.4rem;
          border: none;
          outline: none;

          &::placeholder {
            color: #AAA;
          }
        }

        .actions {
          border-top: 1px solid #EDF0F5;
          display: flex;
          padding-top: .8rem;
          list-style: none;

          li {
            flex: auto;

            label {
              cursor: pointer;

              input {
                display: none;
              }
            }

            label,
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              padding: .7rem 0;
              border-radius: 4px;

              &:hover {
                background: #EEE;
              }

              i {
                font-size: 1.5rem;
                font-weight: bold;
                margin-right: .8rem;

                &.icon-camera {
                  color: #31B057;
                }

                &.icon-video-camera {
                  color: #388BF2;
                }

                &.icon-calendar {
                  color: #FC8338;
                }

                &.icon-edit {
                  color: #E52A34;
                }
              }

              span {
                font-size: 1.2rem;
                font-weight: 500;
                color: var(--color-text);
              }
            }
          }
        }
      }

      .filter-box {
        margin-bottom: 1.4rem;
        height: 4.2rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(#DEDEDE, .24);
        border-radius: 6px;
        color: var(--color-text);

        h6 {
          font-size: 1.4rem;
          font-weight: 500;
        }

        .select-box {
          display: flex;
          align-items: center;

          select {
            appearance: none;
            background: transparent;
            border: none;
            font-size: 1.4rem;
            font-weight: 500;
            cursor: pointer;
          }

          i {
            margin-left: .5rem;
            font-size: 1.2rem;
            color: #AAA;
            cursor: pointer;
          }
        }
      }

      .post {
        background-color: var(--color-white);
        border-radius: 6px;
        padding: 1.3rem 1.6rem 2rem;
        margin-bottom: 2rem;

        .post-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: .9rem;
          border-bottom: 1px solid #EDF0F5;

          .post-author {
            display: flex;
            align-items: center;

            img {
              width: 3.6rem;
              height: 3.6rem;
              border-radius: 50%;
              margin-right: 1.2rem;
            }

            .name {
              font-size: 1.4rem;
              font-weight: 500;
              color: var(--color-text);
            }

            .date,
            .job-title {
              font-size: 1rem;
              color: #AAA;
            }

            .job-title {
              padding: .2rem 0;
            }
          }

          .more {
            color: #AAA;
            font-size: 1.8rem;

            &:hover {
              color: var(--color);
            }
          }
        }

        .post-content {
          padding: 2rem 0;

          p {
            font-size: 1.4rem;
            margin-bottom: 1.2rem;

            img {
              max-width: 100%;
            }

            &:last-child {
              margin-bottom: 0;
            }

            a {
              font-weight: 500;
              color: var(--color);

              &:hover {
                color: var(--color-text);
                text-decoration: underline;
              }
            }
          }
        }

        .post-actions {
          display: flex;
          padding-bottom: 2rem;

          a {
            font-size: 1.4rem;
            font-weight: 500;
            color: #AAA;
            display: flex;
            align-items: center;
            margin-right: 1.5rem;

            i {
              font-size: 1.8rem;
              font-weight: bold;
              margin-right: .5rem;
            }

            &:hover {
              color: var(--color);
            }
          }
        }

        .post-alt-details {
          display: flex;
          font-size: 1rem;
          font-weight: 500;
          color: var(--color-text);
          align-items: center;
          padding-bottom: 1.4rem;
          border-bottom: 1px solid #EDF0F5;
          margin-bottom: 1.4rem;

          .likes {
            display: flex;
            align-items: center;
            margin-right: 2rem;
          }

          i {
            font-size: 1.4rem;
            font-weight: bold;
            margin-right: 1.5rem;
            position: relative;
            z-index: 1;

            &::after {
              content: "";
              width: 1.1rem;
              height: 1.1rem;
              border-radius: 50%;
              position: absolute;
              top: -1px;
              left: -1px;
              z-index: -1;
            }

            &.icon-heart {
              color: #E52A34;

              &::after {
                background: rgba(#E52A34, .32);
              }
            }

            &.icon-thumb-up {
              color: #388BF2;

              &::after {
                background: rgba(#388BF2, .32);
              }
            }
          }
        }

        .post-comment-form {
          display: flex;
          align-items: center;

          img {
            min-width: 3.2rem;
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 50%;
            margin-right: 1.2rem;
          }

          .textarea {
            flex: 1;
            border: 1px solid #EDF0F5;
            display: flex;
            align-items: center;
            padding: .8rem;

            textarea {
              border: none;
              background: transparent;
              width: 100%;
              flex: 1;
              padding: .8rem;
              resize: none;
              height: 3.6rem;
              font-size: 1.4rem;

              &::placeholder {
                color: #DEDEDE;
              }
            }

            label {
              cursor: pointer;
              border-left: 1px solid #EDF0F5;
              padding-left: 1.6rem;
              font-size: 1.8rem;
              font-weight: bold;
              color: #A7B4CC;
              padding-right: .5rem;

              &:hover {
                color: var(--color);
              }

              input {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}